.logic-core {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    font-size: 14px;
}

.loaders,
.loadersB {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    position: absolute;
    width: 1.15em;
    height: 13em;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.05);
}

.loader:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.15em;
    height: 5em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.5);
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
}

.loader::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.15em;
    height: 4.5em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.5);
    mask-image: linear-gradient(to top, black calc(100% - 48px), transparent 100%);
}

.loaderA {
    position: absolute;
    width: 1.15em;
    height: 13em;
    border-radius: 50px;
    background: transparent;
}

.ball-node {
    width: 1.15em;
    height: 1.15em;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
    background: linear-gradient(135deg, #ffffff, #d4d4d8);
    animation: 3.63s move-logic ease-in-out infinite;
}

.loader:nth-child(2) {
    transform: rotate(20deg);
}

.loader:nth-child(3) {
    transform: rotate(40deg);
}

.loader:nth-child(4) {
    transform: rotate(60deg);
}

.loader:nth-child(5) {
    transform: rotate(80deg);
}

.loader:nth-child(6) {
    transform: rotate(100deg);
}

.loader:nth-child(7) {
    transform: rotate(120deg);
}

.loader:nth-child(8) {
    transform: rotate(140deg);
}

.loader:nth-child(9) {
    transform: rotate(160deg);
}

.loaderA:nth-child(2) {
    transform: rotate(20deg);
}

.loaderA:nth-child(3) {
    transform: rotate(40deg);
}

.loaderA:nth-child(4) {
    transform: rotate(60deg);
}

.loaderA:nth-child(5) {
    transform: rotate(80deg);
}

.loaderA:nth-child(6) {
    transform: rotate(100deg);
}

.loaderA:nth-child(7) {
    transform: rotate(120deg);
}

.loaderA:nth-child(8) {
    transform: rotate(140deg);
}

.loaderA:nth-child(9) {
    transform: rotate(160deg);
}

@keyframes move-logic {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(12em);
    }

    100% {
        transform: translateY(0em);
    }
}